.kostka{
    margin: auto;
    margin-top: 30px;
    width: 250px;
    height: 250px;
    border: solid 8px;  
    background-color: red;
    border-radius: 28px;
}
.tecka{
    background-color: black;
    width: 70px;
    height: 70px;
    border: solid 2px;
    border-radius: 50px;
}
#tecka_jedna{
    position: relative;
    left: 85px;
    top: 85px;
}
#tecka_dva_1{
    position: relative;
    left: 30px;
    top: 30px;
}

#tecka_dva_2{
    position: relative;
    left: 130px;
    top: 70px;
}
#tecka_tri_1{
    position: relative;
    left: 10px;
    top: 10px;
}

#tecka_tri_2{
    position: relative;
    left: 80px;
    top: 15px;
}
#tecka_tri_3{
    position: relative;
    left: 155px;
    top: 15px;
}
#tecka_ctyri_1{
    /*vrchní levá*/
    position: relative;
    left: 25px;
    top: 20px;
}

#tecka_ctyri_2{
    /*vrchní pravá*/
    position: relative;
    left: 140px;
    top: -50px;
}
#tecka_ctyri_3{
    /*spodní pravá*/
    position: relative;
    left: 140px;
    top: 10px;
}
#tecka_ctyri_4{
    /*spodní levá*/
    position: relative;
    left: 25px;
    top: -60px;
}
#tecka_pet_5{
    /*vrchní levá*/
    position: relative;
    left: 25px;
    top: -260px;
}
#tecka_pet_2{
    /*vrchní pravá*/
    position: relative;
    left: 140px;
    top: -50px;
}
#tecka_pet_3{
    /*spodní pravá*/
    position: relative;
    left: 140px;
    top: 10px;
}
#tecka_pet_4{
    /*spodní levá*/
    position: relative;
    left: 25px;
    top: -60px;
}

#tecka_sest_1{
    /*první pravá*/
    position: relative;
    left: 140px;
    top: 10px;
}
#tecka_sest_2{
    /*spodní pravá*/
    position: relative;
    left: 140px;
    top: 15px;
}
#tecka_sest_3{
    /*spodní levá*/
    position: relative;
    left: 20px;
    top: 20px;
}
#tecka_sest_4{
    /*vrchní pravá*/
    position: relative;
    left: 140px;
    top: -50px;
}
#tecka_sest_5{
    /*spodní pravá*/
    position: relative;
    left: 20px;
    top: -195px;
}
#tecka_sest_6{
    /*spodní levá*/
    position: relative;
    left: 20px;
    top: -340px;
}

#jedna{
    display: none;
}
#dva{
    display: none;
}
#tri{
    display: none;
}
#ctyri{
    display: none;
}
#pet{
    display: none;
}
#sest{
    display: none;
}
